.field-toolbar {
  display: flex;
  align-items: center;
  font-size: 12px;
  background: #409eff;
  color: #fff;
  padding: 4px 8px;
  cursor: default;

  .field-toolbar__actions {
    display: flex;
    align-items: center;
    cursor: pointer;

    .field-toolbar__action {
      display: flex;
      align-items: center;
      margin-right: 4px;
    }
  }
}

.highlight {
  color: red;
}
